*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/test/tmp/
/test/version_tmp/
/tmp/

## Version specifiers:
.ruby-version
.ruby-gemset

## Environment normalization:
/.bundle/
/lib/bundler/man/

## RSpec:
/spec/reports/
/spec/examples.txt
.rspec_status

## Documentation cache:
/.yardoc/
/_yardoc/
/doc/
/rdoc/

## Sass:
.sass-cache/

## Logs:
*.log

## Databases:
*.sqlite
*.db

## RVM:
.rvmrc
