<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @title || 'Rubies' %></title>
    <meta name="description" content="an API interface to Ruby versions, releases and branches">
    <meta name="author" content="Tommaso Barbato">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/rubies.css">
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0 text-center">
      <div class="container mt-3 mb-5">
        <a href="/"><img class="img-fluid mt-4" width="160" src="/img/rubies.png" alt="Rubies"></a>
        <h1 class="mt-4">Rubies.io</h1>
        <p class="lead">API interface to Ruby versions, releases and branches</p>
      </div>
    </main>

    <%= yield %>

    <footer class="footer mt-auto py-3 text-center">
      <div class="container">
        <span class="small text-muted">
          Rubies.io &middot;
          v<%= @version %><br>
          <a href="https://github.com/epistrephein/rubies" title="GitHub">GitHub</a> &middot;
          <a href="https://status.rubies.io" title="Status">Status</a> &middot;
          <a href="https://www.iubenda.com/privacy-policy/81257353" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy</a> &middot;
          <a href="https://www.iubenda.com/privacy-policy/81257353/cookie-policy" class="iubenda-nostyle no-brand iubenda-embed" title="Cookie Policy">Cookies</a>
        </span>
      </div>
    </footer>

    <script type="text/javascript">
      (function(w, d) {
        var loader = function() {
          var s = d.createElement("script"),
            tag = d.getElementsByTagName("script")[0];
          s.src = "https://cdn.iubenda.com/iubenda.js";
          tag.parentNode.insertBefore(s, tag);
        };
        if (w.addEventListener) {
          w.addEventListener("load", loader, false);
        } else if (w.attachEvent) {
          w.attachEvent("onload", loader);
        } else {
          w.onload = loader;
        }
      })(window, document);
    </script>
  </body>
</html>
