<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @title || 'Rubies' %></title>
    <meta name="description" content="an API interface to Ruby versions, releases and branches">
    <meta name="author" content="Tommaso Barbato">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/rubies.css">
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5"><a class="header" href="/">Rubies.io</a></h1>
        <p class="lead">API interface to Ruby versions, releases and branches.</p>
      </div>
    </main>

    <%= yield %>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="small text-muted">
          Rubies.io &middot;
          v<%= @version %> &middot;
          <a href="https://github.com/epistrephein/rubies">GitHub</a> &middot;
          <a href="https://status.rubies.io">Status</a>
        </span>
      </div>
    </footer>
  </body>
</html>
