[Unit]
Description=rubies
After=syslog.target network.target
Requires=redis-server.service
After=redis-server.service

[Service]
Type=forking
User=epistrephein
SyslogIdentifier=rubies
WorkingDirectory=/var/www/rubies.io
PIDFile=/var/www/rubies.io/tmp/pids/unicorn.pid
Environment="REDIS_URL=redis://localhost:6379/0"
ExecStart=/bin/bash -l -c 'bundle exec unicorn -D -c /var/www/rubies.io/config/unicorn.rb -E production'
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
