[Unit]
Description=rubies
After=syslog.target network.target
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
User=rubies
WorkingDirectory=/var/www/rubies
Environment="REDIS_URL=redis://localhost:6379/0"
SyslogIdentifier=rubies
PIDFile=/var/www/rubies/tmp/pids/unicorn.pid
ExecStart=/usr/bin/bundle exec unicorn -D -c /var/www/rubies/config/unicorn.rb -E production
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
