[Unit]
Description=rubies
After=syslog.target network.target
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
User=epistrephein
SyslogIdentifier=rubies
WorkingDirectory=/var/www/rubies.io
Environment="RACK_ENV=production"
Environment="REDIS_URL=redis://localhost:6379/0"
ExecStart=/bin/bash -l -c 'bundle exec puma -C /var/www/rubies.io/config/puma.rb'
StandardOutput=append:/var/www/rubies.io/log/puma.log
StandardError=inherit
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
