name: main

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          rubygems: 3.5.23
          bundler-cache: true
      - name: Run RSpec
        run: bundle exec rake spec
      - name: Run RuboCop
        run: bundle exec rake rubocop
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
      - name: Connect and update
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} -p${{ secrets.SSH_PORT }} \
            "cd ${{ secrets.SSH_WORKING_DIR }} && \
            git fetch --prune && \
            git reset --hard @{upstream} && \
            git clean -d --force && \
            bundle install && \
            sudo systemctl restart rubies && \
            bundle exec rake redis"
